{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 100,
  "stylusSupremacy.insertNewLineAroundImports": true,
  "semi": true,
  "eslint.autoFixOnSave": true,
  "beautify.config": {
     "brace_style": "collapse,preserve-inline"
  },
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "typescript" }
    }
  ]
}
